.findings-container {
    max-width: 1900px;
    margin: 40px auto;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Serif, sans-serif;
    color: black;
}

.findings-container h1 {
    font-size: 2.5em;
    color: #ff5c8d;
    margin-bottom: 19px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

.findings-container ul {
    margin: 20px 0;
    padding-left: 20px;
}

.findings-container li {
    font-size: 1.2em;
    margin-bottom: 17px;
    line-height: 1.5;
}

.chart-image {
    max-width: 100%;
    height: 280px;
    margin: 10px 0;
    width: 3500px;
    object-fit: contain;
}

.chart-image2 {
    max-width: 100%;
    height: 450px;
    margin: 10px 0;
    width: 100%;
    object-fit: contain;
}

.chart-section p {
    line-height: 1.3;
    font-size: 1em;
    color: black;
    margin-top: 2px;
}

.chart-section {
    background-color: ghostwhite;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    text-align: center;
}

.chart-section:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    transform: translateY(-3px);
}
